*{
    margin: 0;
    padding: 0;
    font-family: Consolas, 'sans-serif';
    font-size: 17px;
}
body{
    margin: 4%;
}
table{
    display: block;
    width: 100%;
}
td {
    border: 1px solid grey;
    border-collapse: collapse;
}
td {
    padding: 4px;
}
p{
    margin-top: 20px;
}